
.hero{
	padding: 10em;
	text-align:center;
	color: white;
	@include background-image(scroll);
}

.services{
	padding:5em;
	text-align:center;

	.service-icon{
		height:200px;
		width:200px;
	}
}

.portfolio{
	padding-top: 5em;
	padding-bottom:5em;

	.port-image{

		padding:5em;

		
	}
}


.portfolio-headline{
			text-align: center;
			color: #000;
		}

.recent-blog{
	padding:5em;
	text-size: 20px;

}

	.blog-headline{
			text-align: center;
			text-size:100px;


	
}

